.container {
    padding: 0 2rem;
}

.main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title a {
    color: #0070f3;
    text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
    text-decoration: underline;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
}

.title,
.description {
    text-align: center;
}

.description {
    margin: 4rem 0;
    line-height: 1.5;
    font-size: 1.5rem;
}

.inputContainer {
    display: flex;
    width: 100%;
    max-width: 800px;
}

.inputContainer label {
    margin-right: 2em;
}

.inputContainer input {
    width: 100%;
}

.embedContainer {
    background-color: lightgray;
    width: 1280px;
    height: 720px;
    border-radius: 10px;
    background-image: url(/miro-logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px;
    margin: 2em;
}

@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
}

@media (prefers-color-scheme: dark) {
    .card,
    .footer {
        border-color: #222;
    }
    .code {
        background: #111;
    }
    .logo img {
        filter: invert(1);
    }
}
